<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 实体类别名 -->
    <typeAliases>
        <package name="com.adu.crud.entity"/>
    </typeAliases>

    <plugins>
        <!-- 分页插件拦截器 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- 调整分页合理化 -->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>
</configuration>